form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 2rem;
  margin-top: 5rem;
}
.formCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: -1px -1px 13px 3px rgba(235, 222, 238, 0.35);
  padding: 2rem 3rem;
  border-radius: 1rem;
}

.formCtn:hover {
  box-shadow: -1px -1px 13px 3px rgba(255, 183, 0, 0.35);
}

input {
  border-radius: 2rem;
  border: none;
  text-align: center;
  padding: 0.2rem;
}

input:focus {
  outline-color: rgb(255, 183, 0);
}

/* .inputG {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.buttonA {
  border-radius: 1rem;
  padding: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-top: 0.6rem;
}
.buttonA:hover {
  background-color: rgb(255, 183, 0);
  cursor: pointer;
  color: white;
  border: solid 2px white;
}

select {
  border-radius: 1rem;
  padding: 0.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  cursor: pointer;
  outline-color: rgb(255, 183, 0);
}
.AddG {
  margin-bottom: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
}

.formP {
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

h2 {
  margin-bottom: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
}

.FormBigCtn {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.sectionCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

table {
  max-width: 80%;
  box-shadow: -1px -1px 13px 3px rgba(235, 222, 238, 0.35);
  border-radius: 1rem;
}

tbody {
  border-radius: 1rem;
  text-align: center;
}

.dpButton {
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.imgList {
  height: 5rem;
}
