* {
  margin: 0;
  padding: 0;
}
.titleAdmin {
  font-size: 3rem;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: "WAYNER", sans-serif;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: rgb(31, 31, 32);
  border-bottom: 1px solid white;
  width: 100%;
}

.AdminCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonHome {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  align-items: center;
  width: 8rem;
  padding: 1.6rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: 1s ease;
  border: none;
}

.buttonHome:hover {
  font-size: 1.2rem;
  transform: scale(1.2);
  transition: 1s ease;
  background-color: rgb(255, 183, 0);
  color: white;
  outline: 2px solid rgb(255, 255, 255);
}
