.signupBigContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signupCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signupForm {
  display: flex;
  gap: 2rem;
}

.buttonsignup {
  display: flex;
  flex-direction: column;
}
.viewpass {
  padding: 0.5rem 1rem;
}
