* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #251e2e;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23645779' fill-opacity='0.27'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.appCtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.collectionCtn {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 2rem;
}

.titreA {
  font-size: 3rem;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: "WAYNER", sans-serif;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: rgb(31, 31, 32);
  border-bottom: 1px solid white;
  width: 100%;
}

.buttonManage {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  align-items: center;
  width: 8rem;
  padding: 1rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: 1s ease;
  border: none;
}

.buttonManage:hover {
  font-size: 1.2rem;
  transform: scale(1.2);
  transition: 1s ease;
  background-color: rgb(255, 183, 0);
  color: white;
  outline: 2px solid rgb(255, 255, 255);
}
.buttonManages {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  align-items: center;
  padding: 0.8rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: 1s ease;
  border: none;
}

.buttonManages:hover {
  font-size: 1.2rem;
  transform: scale(1.2);
  transition: 1s ease;
  background-color: rgb(255, 183, 0);
  color: white;
  outline: 2px solid rgb(255, 255, 255);
}

.logoHome {
  width: 500px;
  border-radius: 5rem;
  margin-top: 2rem;
  box-shadow: 0px 17px 25px 3px rgba(0, 0, 0, 0.75);
  transition: 1s ease;
}

.logoHome:hover {
  width: 500px;
  border-radius: 5rem;
  margin-top: 4rem;
  box-shadow: 0px 17px 25px 3px rgba(0, 0, 0, 0.75);
  transition: 1s ease;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contenaireB {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: 1s ease;
}
.contenaireB:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(1.2);
  transition: 1s ease;
  gap: 1rem;
}

.iconebutton {
  width: 50px;
  border: 0.1rem solid white;
  border-radius: 50%;
}

.play {
  background-color: #0b0b0b;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  align-items: center;
  padding: 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: none;
}

@media only screen and (max-width: 600px) {
  .logoHome {
    width: 80%;
    border-radius: 5rem;
    margin-top: 2rem;
    box-shadow: 0px 17px 25px 3px rgba(0, 0, 0, 0.75);
    transition: 1s ease;
  }
  .logoHome:hover {
    width: 85%;
    border-radius: 5rem;
    margin-top: 4rem;
    box-shadow: 0px 17px 25px 3px rgba(0, 0, 0, 0.75);
    transition: 1s ease;
  }
}
